<a href="https://colab.research.google.com/github/rohithreddy999/Machine_learning-AI-predictions/blob/main/Binary_Classification_of_Machine_Failures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns

In [11]:
df=pd.read_csv("train.csv")

In [12]:
df.head()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [13]:
df.isnull().sum()

id                         0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [14]:
df.drop(columns=["id","Product ID"],axis=1,inplace=True)

In [15]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [16]:
df["Machine failure"].unique()

array([0, 1])

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Type"]=le.fit_transform(df["Type"])

In [18]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,2,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,1,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,1,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,2,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [19]:
x=df.drop(columns="Machine failure",axis=1)
x.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,1,300.6,309.6,1596,36.1,140,0,0,0,0,0
1,2,302.6,312.1,1759,29.1,200,0,0,0,0,0
2,1,299.3,308.5,1805,26.5,25,0,0,0,0,0
3,1,301.0,310.9,1524,44.3,197,0,0,0,0,0
4,2,298.0,309.0,1641,35.4,34,0,0,0,0,0

In [20]:
y=df["Machine failure"]
y[0:5]

0    0
1    0
2    0
3    0
4    0
Name: Machine failure, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=42)
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((95500, 11), (40929, 11), (95500,), (40929,))

In [22]:
#ANN CLASSIFICATION
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [23]:
model=Sequential()
#adding input layer
model.add(Dense(11,activation="relu"))
#adding hidden layers
model.add(Dense(1600,activation="relu"))
model.add(Dense(200,activation="relu"))
#adding output layer
model.add(Dense(2,activation="softmax"))

In [24]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [25]:
model.fit(xtrain,ytrain,epochs=10,batch_size=5,validation_data=(xtest,ytest))

Epoch 1/10
19100/19100 [==============================] - 83s 4ms/step - loss: 0.1602 - accuracy: 0.9833 - val_loss: 0.0835 - val_accuracy: 0.9845
Epoch 2/10
19100/19100 [==============================] - 71s 4ms/step - loss: 0.0825 - accuracy: 0.9841 - val_loss: 0.0806 - val_accuracy: 0.9845
Epoch 3/10
19100/19100 [==============================] - 70s 4ms/step - loss: 0.0823 - accuracy: 0.9841 - val_loss: 0.0825 - val_accuracy: 0.9845
Epoch 4/10
19100/19100 [==============================] - 69s 4ms/step - loss: 0.0822 - accuracy: 0.9841 - val_loss: 0.0803 - val_accuracy: 0.9845
Epoch 5/10
19100/19100 [==============================] - 69s 4ms/step - loss: 0.0820 - accuracy: 0.9841 - val_loss: 0.0834 - val_accuracy: 0.9845
Epoch 6/10
19100/19100 [==============================] - 75s 4ms/step - loss: 0.0820 - accuracy: 0.9841 - val_loss: 0.0800 - val_accuracy: 0.9845
Epoch 7/10
19100/19100 [==============================] - 75s 4ms/step - loss: 0.0819 - accuracy: 0.9841 - val_loss: 0.0802 - val_accuracy: 0.9845
Epoch 8/10
19100/19100 [==============================] - 76s 4ms/step - loss: 0.0818 - accuracy: 0.9841 - val_loss: 0.0802 - val_accuracy: 0.9845
Epoch 9/10
19100/19100 [==============================] - 69s 4ms/step - loss: 0.0819 - accuracy: 0.9841 - val_loss: 0.0799 - val_accuracy: 0.9845
Epoch 10/10
19100/19100 [==============================] - 73s 4ms/step - loss: 0.0818 - accuracy: 0.9841 - val_loss: 0.0800 - val_accuracy: 0.9845

In [36]:
ypred=model.predict(xtest)

1280/1280 [==============================] - 2s 1ms/step

TESTING THE MODEL WITH IN  THE DATASET TRAIN.CSV

In [38]:
ypred=model.predict([[1,300.6,309.6,1596,36.1,140,0,0,0,0,0]])
ypred = np.argmax(ypred)
output = [0,1]
output[ypred]

1/1 [==============================] - 0s 33ms/step

0

TESTING THE MODEL WITHE THE TEST.CSV

In [39]:
ypred_1=model.predict([[0,302.3,311.5,1499,38.0,60,0,1,1,0,1]])
ypred = np.argmax(ypred)
output = [0,1]
output[ypred]

1/1 [==============================] - 0s 40ms/step

0